/* =========================
    GENERAL STYLES
   =========================
*/


figure {
    margin: 0; // REMOVES DEFAULT MARGINS FOR HTML5 FIGURE ELEMENT
}

.push-down {
    margin-top: 2rem;
}

.widget {
    @include border-radius($global-radius);
    padding-top: 1rem;
    padding-bottom: 3rem;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px #e6e6e6;
    cursor: pointer;
    background: $offwhite;
    border: 1px solid darken($offwhite,10%);
    @include single-transition(all, .2s, ease);
    h2 {
        text-transform: uppercase;
        color: $charcoal;
        margin-bottom: 2rem;
        padding: 0 1rem;
        font-size: 1.1rem;
        padding-bottom: 10px;
        border-bottom: 1px solid darken($offwhite,10%);
    }
    i {
        font-size: 2rem;
    }
    &:hover {
        background: white;
    }
}
.button {
    @include border-radius($global-radius);
    margin-bottom: .5rem;
    box-shadow: 0 4px 0 darken($alert,6%);
}
.button-small {
    font-size: .8rem;
    color: $alert;
    background: darken($offwhite,5%);
    padding: .7rem 1rem;
    box-shadow: 0 3px 0 darken($offwhite,10%);
    &:hover {
        box-shadow: 0 3px 0 darken($alert,6%);
    }
}
.button-widget-tab {
    position: absolute;
    bottom: 0;
    background: lighten($primary-blue,10%);
    color: white;
    padding: .7rem 1rem;
    text-align: right;
    font-size: .8rem;
    margin-bottom: 0;
    @include headline-font-stack;
    border-top: 0;
    box-shadow: 0 3px 0 darken($primary-blue,2%);
    width: 100%;
    border-top-radius: none;
    border-radius: 0 0 $global-radius $global-radius;
    &:hover {
        background: lighten($primary-blue,5%);
        box-shadow: 0 3px 0 darken($primary-blue,2%);
    }
}

#scrollUp {
    position: absolute;
    display: block;
    width: 60px;
    bottom: 10px;
    right: 4%;
    height: 50px;
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: "Noto Sans",serif;
    font-style: normal;
    font-weight: 400;
    @include border-radius($global-radius);
    @include single-transition(all, .2s, ease-in-out);
    background: rgba(0,0,0,0.2);

}
