/* =========================
    HEADER STYLES
   =========================
*/


.hdr-seal-logo {
    background: url(../img/HPD-Seal-gold.png) no-repeat;
    width: 284px;
    height: 280px;
}
.hdr-contact-info {
    span, p, h2 {
        color: white;
    }
    h2 {
        background-color: $alert;
        box-shadow: 0 3px 0 darken($alert,6%);
        padding: .3rem .8rem;
        margin: .5rem 0;
        i {
            margin-right: .7rem;
        }
    }
    span {
        @include body-font-stack;
    }
}

.hdr-search-bar {
    margin-top: 7rem;
    input[type="search"] {
        -webkit-appearance: none;
        outline: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .9;
        height: 50px;
        @include body-font-stack;
        @include border-left-radius($radius-global);
    }
    button {
        background: $alert;
        @include border-right-radius($radius-global);
        position: relative;
        height: 50px;
    }
}

.alert-bar {
    display: block;
    position: absolute;
    top: -35px;
    width: 100%;
    height: 35px;
    background: $alert;
    -ms-animation: show-alert-bar .3s .8s ease forwards;
    -moz-animation: show-alert-bar .3s .8s ease forwards;
    -webkit-animation: show-alert-bar .3s .8s ease forwards;
    animation: show-alert-bar .3s .8s ease forwards;
    span {
        position: absolute;
        top: 2px;
        left: 0;
        i {
            color: white;
            font-size: 1.3rem;
        }
    }
}
.alerts-bar-nav {
    height: 35px;
    ul {
        margin: 0;
        li {
            margin-top: 5px;
            button {
                outline: none;
                -webkit-appearance: none;
                border: none;
                box-shadow: none;
                cursor: pointer;
                font-size: .6rem;
                margin: 0;
                background: darken($alert,10%);
                padding: .5rem;
                color: white;
                @include border-radius(5px);
                &#alerts-next {
                    @include rotate(-90deg);
                }
                &#alerts-prev {
                    @include rotate(90deg);
                }
                &:hover {
                    background: darken($alert,15%);
                    color: $warning;
                }
            }
            i {
                cursor: pointer;
                color: darken($alert,20%);
                &:hover {
                    color: $warning;
                }
            }
        }
    }
}
ul.pd-alerts-bar {
    li {
        color: white;
        font-size: .9rem;
        line-height: 2.3rem;
        text-align: center;
        a {
            color: $warning;
        }
    }
}
/* =========================
    CTA / SLIDER STYLES
   =========================
*/


.cta-big-header {
    background: url(../img/porsche-hoover.jpg) no-repeat bottom center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.cta-big-header-inner {
    position: absolute;
    width: 100%;
    //top: 16%; //OVERRIDE
}
