/* =========================
    NAV STYLES
   =========================
*/

.nav-divider {
    background-color: $warning; // Old browsers
    height: 3px;
    @include gold-gradient;
}
.contain-to-grid {
    background: none;
    //margin-top: -72px; //OVERRIDE
}
.top-bar {
    background: $primary-blue;
    @include border-top-radius(9px);
    border-bottom: 3px solid darken($primary-blue,5%);
    //height: auto;  //OVERRIDE
    .top-bar-section {
        background: $primary-blue;
        ul {
            background: $primary-blue;
            li {
                a:not(.button) {
                    @include body-font-stack;
                    background: $primary-blue;
                    @include body-font-stack;
                    padding-top: .7rem;
                    padding-bottom: .7rem;
                    text-transform: uppercase;
                    text-align: center;
                    @include single-transition(all, .2s, ease);
                    &:hover {
                        color: $warning;
                    }
                }
                &.divider {
                    height: 66px;
                    opacity: .5;
                    //margin: 0 .5rem; //OVERRIDE
                    border-right: 1px solid lighten($primary-blue,10%);
                }
            }
        }
        .dropdown {
            background: darken($primary-blue,1%);
            margin-top: 3px;
            margin-left: -7px;
        }
        .has-dropdown {
            > a {
                &:after {
                    top: 33.5px;
                }
            }
        }
    }
}
