/* =========================
    TYPOGRAPHY
   =========================
*/

h1, h2, h3, h4 {
    $headline-noto-font: "Noto Sans", sans-serif;
    $headline-noto-weight: 700;
}
p, li, a {
    $body-noto-font: "Noto Sans", sans-serif;
    $body-noto-weight: 400;
}
