@mixin headline-font-stack {
    $headline-noto-font: "Noto Sans",sans-serif;
    $headline-noto-weight: 700;
}
@mixin body-font-stack {
    $headline-noto-font: "Noto Sans",sans-serif;
    $headline-noto-weight: 400;
}
@mixin gold-gradient {
    @include filter-gradient(#f8b500, #fccd4d, vertical); // IE6-9
    @include background-image(linear-gradient(top, #f8b500 1%,#fccd4d 99%));
}
@-ms-keyframes show-alert-bar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes show-alert-bar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes show-alert-bar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}

@keyframes show-alert-bar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
