// COLORS


$primary-blue: #3D71D7;
$alert: #D93B3B;
$warning: #f8b500;
$offwhite: #f7f7f7;
$charcoal: #292929;


// FONTS

$headline-fira-font: "fira-sans",sans-serif;
$headline-fira-weight: 700;

$body-fira-font: "fira-sans",sans-serif;
$body-fira-weight: 400;

// MISC

$radius-global: 10px;
