/* =========================
    MEDIA QUERIES
   =========================
*/
@media #{$small-up} {}
@media #{$small-only} {
    .cta-big-header-inner {
        top: 0;
    }
    .hdr-contact-info {
        //margin-top: 6rem;
        h2 {
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.07) 5px, rgba(255,255,255,.07) 25px);
            text-align: center;
            small {
                color: white;
            }
        }
    }
    .contain-to-grid {
        margin-top: -48px;
    }
    .top-bar {
        height: 45px;
        .top-bar-section {
            ul {
                li {
                    &.divider {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 640px) and (max-width: 1280px) {}    // IN BETWEEN LARGE AND MEDIUM

@media #{$medium-up} {}
@media #{$medium-only} {
    .cta-big-header-inner {
        top: 16%;
    }
    .contain-to-grid {
        margin-top: -48px;
    }
    .top-bar {
        height: 45px;
        .top-bar-section {
            ul {
                li {
                    &.divider {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media #{$large-up} {
    .cta-big-header-inner {
        top: 16%;
    }
    .hdr-contact-info {
        margin-top: 6rem;
        h2 {
            @include border-radius($radius-global);
        }
    }
    .contain-to-grid {
        margin-top: -73px;
    }
    .top-bar {
        height: auto;
        .top-bar-section {
            ul {
                li {
                    &.divider {
                        margin: 0 .7rem;
                    }
                }
            }
        }
    }
}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
