//@import "../bower_components/foundation/scss/foundation";


/* =========================
    MAIN CONTENT STYLES
   =========================
*/

.container {
    margin-top: 2rem;
}

/* =========================
    WIDGET STYLES
   =========================
*/

.general-info-widget {
    background: url(../img/tahoe-widget-img.jpg) no-repeat;
    background-size: cover;
    min-height: 390px;
    &:hover {
        background: url(../img/tahoe-widget-img.jpg) no-repeat;
        background-size: cover;
    }
    h1 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: white;
        font-size: 2rem;
        padding: 0 1rem;
    }
}
.breaking-news-widget {
    h2 {
        span i {
            float: right;
            font-size: 1.2rem;
            color: darken($offwhite,25%);
        }
    }
}
.alert-widget {
    i {
        color: $warning;
    }
    h3 {
        margin-bottom: 1rem;
    }
}
.online-forms-widget {
    i {
        color: $alert;
    }
    h3 {
        margin-bottom: 1rem;
    }
}
.breaking-news-widget {
    article {
        padding: 0 1rem;
        h3 {
            font-size: 1.1rem;
            color: $charcoal;
        }
        p {
            font-size: .9rem;
            color: lighten($charcoal,15%);
        }
    }
}
.welcome-message {
    h3 {
        background: $primary-blue;
        padding: .7rem 2rem;
        color: white;
        margin-bottom: 2rem;
        @include border-radius($global-radius);
    }
}
.chief-image {
    img {
        border: 5px solid $offwhite;
        box-shadow: 0 2px 4px #e6e6e6;
    }
}
/* =========================
    SUBPAGE CONTENT STYLES
   =========================
*/
